/*Our App*/
body{
    font-family:'Montserrat',sans-serif;
    background-color: #F6F6FA;
}

/*Sidebar Styles*/
.sidebar-section{
    background-color:#DFEEFF;
}

.sidebar-image{
    margin-top: 40px;
}

.contacts-container{
    padding-left: 40px;
}

.contacts-header{
    color: #161D2A;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contacts-item{
    color: #161D2A;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
}

.contacts-phone{
    color: #4489FF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    margin-left: 10px;
}

.contacts-email{
    color: #4489FF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-left: 10px;
}

.contact-element{
    margin-top: -12px;
}

.tech-skills-section{
    padding-left: 40px;
    margin-top: 40px;
}

.tech-skills-header{
    color: #161D2A;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tech-skills-list{
    color: #161D2A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: -10px;
    margin-left: -10px;
}
/*Soft Skills*/
.soft-skills-section{
    padding-left: 40px;
    margin-top: 40px;
}

.soft-skills-header{
    color: #161D2A;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.soft-skills-list{
    color: #161D2A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: -20px;
    margin-left: -15px;
}


.app-wrapper{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 40px auto;
    background-color: #fff;
}

/* Main content Styles */
.right-side-container{
    padding-left: 88px;
    padding-top: 80px;
    padding-bottom: 180px;
}

.about-me-professional{
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.about-me-name{
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -10px;
}

.about-me-description{
    color: #595959;  
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: -15px;
}

.projects-section{
    margin-top: 40px;
}

.projects-header{
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.projects-list{
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-left: -20px;
    margin-top: -10px;
}
.project-name{
    color: #595959;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    text-decoration-line: underline;
}
.project-info{
    font-weight: 400;
}

.work-experience-section{
    margin-top: 40px;
}

.work-experience-header{
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.comapny-name{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.company-info{
    color: #6096FF;
    margin-left: 10px;
}

.company-time{
    color: #A8A8A8;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -10px;
}

.company-elements-list{
    color: #595959;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-left: -15px;
    margin-top: -5x;
}

.company-container{
    margin-top: -10px;
}

.education{
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: -15px;
}

.education-name{
    color: #6096FF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.education-profile{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -20px;
}

.education-time{
    color: #A8A8A8;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -15px;
    margin-bottom: -15px;
}

.education-section{
    margin-top: 50px;
}